.button-component {
  height: 70px;
  width: 470px;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(31, 39, 245, 1);
  padding: 20px, 54px, 20px, 54px;
}




